@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

body { 
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    padding: 1rem;
}

.navbar {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
    background-color: #314455;
}

.navbar a{
    color: #97aabd
}

#navbar-brand{
    color: white;
}

.nav-link:hover {
    color: white;
}

.title-card {
    background-image: url("assets/title-card.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 50vh;
}

.title-card h2{
    text-align: center;
    padding-top: 15vh;
}

#title-header{
    color: white;
    font-size: 50px;
}

.service-bar{
background: #314455;
box-shadow: 10px 5px 5px rgba(0,0,0,.2);
}

.service-bar a{
    text-decoration: none;
    }

.service-bar h5{
    padding: 1rem;
    text-align: center;
    color: white;
}

.service-button1:hover{
    cursor: pointer;
    background: #97AABD;
}

.service-button2:hover{
    cursor: pointer;
    background: #97AABD;
}

.service-button3:hover{
    cursor: pointer;
    background: #97AABD;
}

.service{
    text-align: center;
    padding: 3rem 4rem;
}

.service-picture{
    max-width:100%;
    height:auto;
    border-radius: 5px;
}

.footer {
    background-color: #253441;
    height: 50px;
    text-align: center;
    color: rgba(168, 175, 175, 0.39);
}

.footer p{
    padding-top: 1rem;
    margin-bottom: 0px;
}