@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

body { 
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1 {
    padding: 1rem;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
    background: none;
    transition: background .3s linear;
    height: 75px;
}

.opaque-nav{ 
    background: #253441;  
    /* transition the background-color over 1s with a linear animation */
    transition: background .3s linear;
    box-shadow: 10px 5px 5px rgba(0,0,0,.2);
}

.navbar a{
    color: #97aabd
}

.navbar i{
    color: white;
    margin: 0 1rem;
}

#nav-phone{
    color: white;
    font-size: 20px;
}

#navbar-brand{
    color: white;
}

.nav-link:hover {
    color: white;
}

.title-card {
    background-image: url("assets/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 65vh;
}

.title-card h2{
    text-align: center;
    padding-top: 30vh;
}

#title-header{
    color: white;
    font-size: 30px;
    font-size: 2.5vw;
}

.service-bar{
background: #314455;
box-shadow: 10px 5px 5px rgba(0,0,0,.2);
}

.service-bar a{
    text-decoration: none;
    }

.service-bar h5{
    padding: 1rem;
    text-align: center;
    color: white;
}

.service-button1:hover{
    cursor: pointer;
    background: #97AABD;
}

.service-button2:hover{
    cursor: pointer;
    background: #97AABD;
}

.service-button3:hover{
    cursor: pointer;
    background: #97AABD;
}

.service{
    text-align: center;
    padding: 3rem 4rem;
}

.service p{
    text-align: left;
}

.service ul{
    text-align: left;
}

.service-picture{
    max-width:100%;
    height:auto;
    border-radius: 5px;
}

.footer {
    background-color: #253441;
    height: 50px;
    text-align: center;
    color: rgba(168, 175, 175, 0.39);
}

.footer p{
    padding-top: 1rem;
    margin-bottom: 0px;
}